<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>project</key>
	<string>PROJECT_NAME</string>
	<key>bitbucketURL</key>
	<string>BITBUCKET_URL</string>
	<key>Slack</key>
	<dict>
		<key>path</key>
		<string>SLACK_PATH</string>
		<key>channel</key>
		<string>SLACK_CHANNEL</string>
	</dict>
	<key>Jenkins</key>
	<dict>
		<key>url</key>
		<string>JENKINS_URL</string>
		<key>credentials</key>
		<dict>
			<key>email</key>
			<string>EMAIL</string>
			<key>apiToken</key>
			<string>API_TOKEN</string>
		</dict>
		<key>delayBetweenBuilds</key>
		<integer>88</integer>
		<key>label</key>
		<dict>
			<key>prefix</key>
			<string>PREFIX</string>
			<key>numberOfConfigurations</key>
			<integer>99</integer>
		</dict>
		<key>schemes</key>
		<array>
			<dict>
				<key>target</key>
				<string>FOXNOW</string>
			</dict>
			<dict>
				<key>target</key>
				<string>FOXNation</string>
			</dict>
			<dict>
				<key>target</key>
				<string>FOXSports</string>
			</dict>
		</array>
	</dict>
	<key>TargetsToRun</key>
	<array>
		<string>FOXNOW</string>
		<string>NatGeo</string>
		<string>FXNOW</string>
		<string>FXNOW-FYC</string>
		<string>FOXNation</string>
		<string>FOXSports</string>
	</array>
	<key>BranchesToRun</key>
	<array>
		<string>consumerGrowth</string>
		<string>core</string>
	</array>
	<key>Purger</key>
	<dict>
		<key>branchFolder</key>
		<string>BRANCH_FOLDER</string>
		<key>Jira</key>
		<dict>
			<key>url</key>
			<string>JIRA_URL</string>
			<key>email</key>
			<string>JIRA_EMAIL</string>
			<key>password</key>
			<string>JIRA_PASSWORD</string>
			<key>closedStatus</key>
			<string>JIRA_CLOSED_STATUS</string>
		</dict>
	</dict>
</dict>
</plist>
